{{#if auth}}

<div class="container col-5">
<h2>carro{{user.carro}} marca {{user.marca}} ano{{user.ano}} cor {{user.cor}} potencia {{user.potencia}}</h2>
</div>
<div class="container col4">
<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
</div>
{{/if}}